@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
main {
  padding: 7% 15%;
  flex: 1;
}


#__next {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

h1 {
  font-family: 'Rubik', sans-serif;
}

#map { height: 900px; }



